.navbar h1 {
    margin-top: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0;
}

.card {
    width: 230px;
    height: 230px;
    /*background-color: #778899;*/
    box-shadow: 1px 1px 5px 1px #ccc;
    /*border-radius: 5px;*/
    position: relative;
    padding: 10px;
    margin: 10px 20px 10px 0;
}

.card img {
    width: 250px;
    height: 150px;
    /*object-fit: cover;*/
    position: absolute;
    top: 0;
    left: 0;
    /*border-radius: 5px 5px 0 0;*/
    margin-bottom: 10px;
}

.card .description {
    color: #333;
    position: absolute;
    top: 150px;
    padding-right: 10px;
}

.card .description h4 {
    font-weight: 600;
}

.card .category {
    font-size: 0.5em!important;
    line-height: 1.7rem!important;
    text-transform: uppercase;
    position: absolute;
    bottom: -5px;
    right: 10px;
    color: #aaa;
}

.card .year {
    font-size: 0.5em!important;
    line-height: 1.7rem!important;
    text-transform: uppercase;
    position: absolute;
    bottom: -5px;
    left: 10px;
    color: #1FA9C4;
}

.card .link {
    position: absolute;
    bottom: 0;
    width: 290px;
    padding: 5px 0;
    border-top: 1px solid #fff;
    color: #21B5D3;
}

.card .link p {
    margin: 0;
    font-size: 0.8em;
}

#Container .mix{
	display: none;
}

.center {
    text-align: center;
}

.grey {
    color: #666;
}

.small-margin {
    margin: 5px;
}

.line-height-1 {
    line-height: 1.2em;
}

.nav-horizontal {
    margin: 20px 0;
}

.nav-horizontal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-horizontal li {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px 0;
    text-transform: uppercase;
    font-size: 0.8em;
}

.nav-horizontal li:hover {
    cursor: pointer;
    color: #666;
}

.nav-horizontal li.active {
    border-bottom: 4px solid #1FA9C4;
}

.nav-pills {
    /*width: 90%;*/
    /*margin: 0 auto;*/
    text-align: center;
    padding: 0!important;
    margin-top: -10px;
}

.nav-pills li a {
  display: inline-block;
  color: #aaa;
  border: 1px solid #aaa;
  width: 18px;
  height: 18px;
  /*line-height: 40px;*/
  text-align: center;
  padding: 8px;
  border-radius: 50%;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
  font-size: 1.2em;
}

.nav-pills li a:hover {
  color: #1FA9C4;
  border-color: #1FA9C4;
}

.circle {
    border-radius: 50%;
}

.profile-pic {
    width: 100px;
    height: 100px;
    text-align: center;
    box-shadow: 1px 1px 3px 1px #999;
    margin: 0 auto;
    display: block;
}