---
layout: default
---
<div class="gelber-left">
<a class="navbar" href="../">
    <h1><img src="logo.png" alt="logo"></h1>
</a>
<nav class="nav-horizontal">
    <ul>
        <li class="filter" data-filter="all">All</li>
        <li class="filter" data-filter=".graphicdesign">Graphic Design</li>
        <li class="filter" data-filter=".elearning">ELearning Design</li>
        <li class="filter" data-filter=".webdesign">Web Design</li>
    </ul>
</nav>

<div class="flex-container" id="Container">
    {% for project in site.projects %}{% for tag in project.categories %}<a href="{{ project.url }}" class="mix {{ tag | downcase | remove: ' ' }}"><div class="card" data-name="{{ project.title }}">
        <img src="{{ project.image_path }}"></img>
        <div class="description">
            <h4>{{ project.title }}</h4>
        </div>
        <p class="category">{{ tag }}</p>{% endfor %}
        <p class="year">{{ project.year }}</p>
    </div></a>{% endfor %}
</div>
</div>
<div class="gelber-right-top">
<h2 class="center">Derek Thurber</h2>
<img src="/img/derek-thurber.jpg" class="circle profile-pic">
<h4 class="center grey">Instructional Design and Technology Consultant</h4>
<ul class="nav-horizontal nav-pills">
<!--<li><a href=""><i class="fa fa-facebook"></i></a></li>-->
    <li><a href="https://github.com/dwthurber" target="_blank"><i class="fa fa-github"></i></a></li>
    <li><a href="https://www.google.com/+DerekThurber" target="_blank"><i class="fa fa-google-plus"></i></a></li>
    <!--<li><a href=""><i class="fa fa-dribbble"></i></a></li>-->
    <li><a href="https://www.linkedin.com/in/derekthurber" target="_blank"><i class="fa fa-linkedin"></i></a></li>
</ul>
</div>
<div class="gelber-right-bottom">
<p>right bottom</p>
</div>