<!DOCTYPE html>
<html lang="en">
<head>
    <!--meta start-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is my personal professional portfolio of work completed from web design to elearning content authoring to graphic design to learning outcome assessment and everything in between.">
    <meta name="author" content="Derek Thurber">
    <title>Derek Thurber | Portfolio</title>
    <!--stylesheets-->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/typeography.css">
    <link rel="stylesheet" href="/css/beaty.css">
    <link rel="stylesheet" href="/css/base.css">
    <!--javascript-->
    <!--favicon start-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
<!--  google analytics start-->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66562635-1', 'auto');
  ga('send', 'pageview');

</script>
<!--  google analytics end-->
</head><!--/head-->
<body>
    {{ page.content }}
</body>
</html>